body{
    margin: 0%;
}

nav {
    margin: 0%;
    display: flex;
    justify-content: space-around;
	background-color: #2ABDAD;
	height: 30px;
}
nav ul  {
    display: flex;
    margin: 0%;
    font-size: 24px;
	list-style-type: none;
	float: none;
	text-align: center;
}
nav li a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 24px;
	text-align: center;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
nav ul li {
	display: inline;
}
nav li a:hover  {
    text-decoration: none;
    background-color: #186E64;
    color: white;
}

img{
    width:100%;
}